body {
    margin: 0;
}

.headerimg {
    height: 49.36px;
    width: 49.36px;
}

.headerimg img {
    width: 100%;
    padding: 21px;
    margin-left: 26px;
}

.header {
    height: 100px;
    border: grey;
    box-shadow: 2px 2px 10px #bdbcbc;
}

.mainheadertext {
    display: flex;
    flex-direction: row;
    margin-left: 123px;
    margin-top: -22px;
}

.headertext {
    padding-left: 25px;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    cursor: pointer;
}

.loc {
    display: flex;
    flex-direction: row;
    margin-left: 1150px;
    margin-top: -48px;
}

.locicon {
    margin-top: 14px;
    padding-right: 11px;
}

.loctext {
    font-weight: 700;
    font-family: sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: pointer;
}

.btn {
    margin-left: 1283px;
    margin-top: -38px;
}

.signbtn button {
    background-color: white;
    font-size: 13px;
    border-radius: 20px;
    border: black;
    width: 100px;
    height: 30px;
    float: left;
    color: black;
    text-align: center;
    border: 1px solid black;
}

.joinbtn button {
    background-color: black;
    font-size: 13px;
    border-radius: 20px;
    width: 100px;
    float: left;
    height: 30px;
    color: white;
    text-align: center;
    margin-left: 10px;
}

.banner1img {
    width: 1519px;
    height: 420px;
    float: left;
}

.banner1text {
    width: 1530px;
    background-color: #1e3932;
    height: 371px;
    float: left;
    font-size: 25px;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    padding-top: 50px;
    font-size: 15px;


}

.banner1img img {
    height: 421px;
    width: 730px;
}

.banner1 {
    display: flex;
    flex-direction: row;
    padding: 35px;
}

#banner1textp {
    font-size: 17px;
    font-family: system-ui;
    padding-top: 10px;
}

#banner1btn {
    background-color: #1e3932;
    color: white;
    border-radius: 50px;
    height: 40px;
    border: 1px solid white;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.banner1button {
    padding-top: 30px;
}

.banner2text {
    color: #1e3932;
    background-color: #eb81a5;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 561px;
    width: 624px;
}

.banner2img {
    height: 625;
    width: 50%;
}

.banner2 {
    margin-bottom: 32px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
}

#banner2imgs{
    height: 625px;
    width: 720px;
}

.banner2text p{
    color: #1e3932;
    font-size: 50px;
    letter-spacing: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    text-align: center;
}

#banner2textp{
    color: #1e3932;
    font-size: 22px;
    font-family: system-ui;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
}

#banner2btn{
    color: #1e3932; 
    background-color: #eb81a5;
    border-radius: 50px;
    height: 40px;
    border: 1px solid #1e3932;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5px;
    margin-left: 233px;
    margin-top: 28px;
}

.banner3{
    height: 625px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 40px;
    margin-right: 40px;
}

.banner3 banner3img{
    height: 625px;
    width: 720px;
}

.banner3label{
    color: #1e3932;
    background-color: #f1ff67;
    height: 561px;
    width: 624px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 48px;
    padding-right: 48px;
    text-align: center;
}

#banner3heading{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    color: #1e3932;
    letter-spacing: 4px;
    font-weight: bold;
}

#banner3content{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    color: #1e3932;
    letter-spacing: 1px;
}

#banner3btn{
    color: #1e3932; 
    background-color: #f1ff67;
    border-radius: 50px;
    height: 40px;
    border: 1px solid #1e3932;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.banner3text{
    padding: 61px;
}

.ban3btn{
    margin-top: -50px;
}

.banner4{
    height: 625px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    margin-left: 38px;
    margin-bottom: 32px;
}

.ban4text{
    padding-top: 120px;
}

.ban4label{
    text-align: center;
    color: black;
    background-color: #fc6446;
    height: 561px;
    width: 624px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 48px;
    padding-right: 48px;
}

#banner4btn{
    color: black; 
    background-color: #fc6446;
    border-radius: 50px;
    height: 40px;
    border: 1px solid black;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5px;
}

#banner4heading{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 50px;
    color: black;
    letter-spacing: 4px;
    font-weight: bold;
}

#banner4content{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    color: black;
    letter-spacing: 1px;
}

.banner5{
    height: 280px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    margin-left: 38px;
    margin-bottom: 32px;
}

.ban5label{
    background-color: #1e3932;
    color: white;
    text-align: center;
}

.ban5text{
    height: 216px;
    width: 624px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 48px;
    padding-right: 48px;
}

#ban5button{
    color: white; 
    background-color: #1e3932;
    border-radius: 50px;
    height: 40px;
    border: 1px solid white;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5px;
}

#ban5heading{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

#ban5content{
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.ban5btn{
    padding-top: 15px;
}

.banner6{
    height: 420px;
    width: 1440px;
    display: flex;
    flex-direction: row;
    margin-left: 38px;
    margin-bottom: 32px;
}

.ban6label{
    color: #1e3932;
    background-color: #e1fccd;
    text-align: center;
}

.ban6text{
    height: 356px;
    width: 624px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 48px;
    padding-right: 48px;
}

#ban6button{
    color: #1e3932; 
    background-color: #e1fccd;
    border-radius: 50px;
    height: 40px;
    border: 1px solid #1e3932;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.5px;
}

#ban6heading{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 50px;
}

#ban6content{
    font-size: 17px;
    font-family: sans-serif;
    letter-spacing: 1px;
    padding-top: 30px;
}

.ban6btn{
 padding-top: 30px;   
}

